.footer {
  background-color: $dark-blue-footer-bg;

  @include breakpoint-up(small) {
    font-size: $fs-l;
  }

  &__logo {
    padding: 5.15em 0 3.05em 0;
  }

  ul {
    margin-bottom: 3.5em;

    @include breakpoint-up(x-small) {
      margin-bottom: 0;
    }
  }

  &__link {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    &:hover {
      color: $white;
      font-weight: 700;
    }
  }
}

.address {
  font-style: normal;
  margin-bottom: 6em;

  @include breakpoint-up(x-small) {
    margin-bottom: 0;
  }

  &__content:not(:last-child) {
    margin-bottom: 1.3125rem;
  }

  &__icon {
    &--location {
      width: 13px;
      margin-top: 7px;
      margin-right: 27px;
    }

    &--phone {
      width: 18px;
      margin-right: 22px;
    }

    &--email {
      width: 20px;
      margin-right: 20px;
    }
  }

  &__details {
    margin: 0;
    max-width: 21em;
  }
}

.social {
  margin-top: 5em;
  padding-bottom: 3em;

  @include breakpoint-up(x-medium) {
    margin-top: 0;
    padding-bottom: 0;
  }

  &__icon {
    width: 28px;
    height: 28px;
    padding: 0.35em;

    border: 1px solid $greyish-white;

    border-radius: 100px;

    @include breakpoint-up(small) {
      width: 32px;
      height: 32px;
    }

    & + & {
      margin-left: 0.7em;
    }

    &:hover {
      color: $cyan;
      border: 1px solid $cyan;
    }
  }
}

.footer {
  &__row {
    &--x-small {
      @include breakpoint-up(x-small) {
        display: flex;
        justify-content: space-between;
      }

      @include breakpoint-up(x-medium) {
        flex-grow: 0.75;
      }
    }

    &--x-medium {
      @include breakpoint-up(x-medium) {
        padding-bottom: 5em;

        display: flex;
        justify-content: space-between;
      }
    }

    &--large {
      @include breakpoint-up(large) {
        display: flex;
        justify-content: space-between;
        flex-grow: 0.25;
      }
    }
  }
}
