*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;

  background-color: $dark-blue-main-bg;

  font-family: "Open Sans", sans-serif;
  font-size: $font-size-main;
  color: $white;
}

h1,
h2,
h3,
.header,
.cta {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $white;
  line-height: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 89.333%;
  max-width: 750px;
  margin: 0 auto;
}

.flex {
  display: flex;

  &--jc {
    &-sb {
      justify-content: space-between;
    }

    &-c {
      justify-content: center;
    }
  }

  &--ai-c {
    align-items: center;
  }

  &--as {
    &-fs {
      align-self: flex-start;
    }

    &-c {
      align-self: center;
    }
  }

  &--fs-0 {
    flex-shrink: 0;
  }
}
