.header {
  background-color: $dark-blue-intro-email-bg;

  > .container {
    padding: 1.72em 0;

    @include breakpoint-up("small") {
      padding: 3.5em 0;
    }
  }

  &__logo {
    width: 5rem;

    @include breakpoint-up("small") {
      width: 11.25rem;
    }
  }

  &__link {
    position: relative;
    color: $greyish-white;

    @include breakpoint-up("small") {
      font-size: $fs-20px;
    }

    & + & {
      margin-left: 1.72em;

      @include breakpoint-up("small") {
        margin-left: 2.5em;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $white;
      transform-origin: bottom right;
      transition: transform 300ms ease-in-out;
    }

    &:hover,
    &:active,
    &:focus {
      color: $white;
      font-weight: 700;

      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
