.hero {
  text-align: center;

  background: linear-gradient(
    to bottom,
    $dark-blue-intro-email-bg 0%,
    $dark-blue-intro-email-bg 60%,
    $dark-blue-main-bg 60%,
    $dark-blue-main-bg 100%
  );

  position: relative;

  @include breakpoint-up(xx-small) {
    background: linear-gradient(
      to bottom,
      $dark-blue-intro-email-bg 0%,
      $dark-blue-intro-email-bg 70%,
      $dark-blue-main-bg 70%,
      $dark-blue-main-bg 100%
    );
  }

  @include breakpoint-mid(x-small, small) {
    background: linear-gradient(
      to bottom,
      $dark-blue-intro-email-bg 0%,
      $dark-blue-intro-email-bg 80%,
      $dark-blue-main-bg 80%,
      $dark-blue-main-bg 100%
    );
  }

  @include breakpoint-up(x-medium) {
    background: $dark-blue-intro-email-bg;
  }

  &__overlay {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 38%;

    @include breakpoint-up(xx-small) {
      bottom: 28%;
    }
    @include breakpoint-mid(x-small, small) {
      bottom: 18%;
    }
    @include breakpoint-up(x-medium) {
      bottom: 0;
    }
    @include breakpoint-up(medium) {
      bottom: -6.5em;
    }
  }

  &__content {
    position: relative;
    max-width: 45rem;

    @include breakpoint-up(small) {
      width: 60%;
    }

    @include breakpoint-up(medium) {
      padding-bottom: 5em;
    }
  }

  &__image {
    padding: 1.72em 0;
  }

  &__title {
    font-size: $fs-xl;
    font-weight: 700;

    @include breakpoint-up(small) {
      font-size: $fs-40px;
    }
  }

  &__text {
    max-width: 37.5rem; //600px
    margin: 1.72em auto 2em;
    color: $greyish-white;

    @include breakpoint-up(small) {
      font-size: $fs-20px;
    }
  }

  &__btn {
    display: inline-block;
    font-size: $fs-main;
    font-weight: 700;

    padding: 1.2em 5.7em;
    background-color: $blue;
    background-image: linear-gradient(to right, $cyan 0%, $blue 100%);
    border-radius: 100px;

    &:hover {
      background-image: linear-gradient(
        to right,
        $cyan-light 0%,
        $blue-light 100%
      );
    }

    @include breakpoint-up(small) {
      font-size: $fs-16px;
    }
  }
}
