.hero {
  text-align: center;

  background: linear-gradient(
    to bottom,
    $dark-blue-intro-email-bg 0%,
    $dark-blue-intro-email-bg 60%,
    $dark-blue-main-bg 60%,
    $dark-blue-main-bg 100%
  );

  position: relative;

  &__overlay {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 38%;
  }

  &__content {
    position: relative;
  }

  &__image {
    padding: 1.72em 0;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: 700;
  }

  &__text {
    margin: 1.72em 0 2em 0;
    color: $greyish-white;
  }

  &__btn {
    display: inline-block;
    font-size: $font-size-main;
    font-weight: 700;

    padding: 1.2em 5.7em;
    background-color: $blue;
    background-image: linear-gradient(to right, $cyan 0%, $blue 100%);
    border-radius: 100px;

    &:hover {
      background-image: linear-gradient(
        to right,
        $cyan-light 0%,
        $blue-light 100%
      );
    }
  }
}
