.hero {
  text-align: center;

  background-color: $dark-blue-intro-email-bg;

  &__image {
    padding: 1.72em 0;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: 700;
  }

  &__text {
    margin: 1.72em 0;
    color: $white-pale;
  }

  &__btn {
    display: inline-block;
    font-size: $font-size;
    font-weight: 700;
    line-height: 1;

    padding: 1.2em 5.7em;
    background-color: $cyan;
    border-radius: 100px;
  }
}
