// Primary Colors
$dark-blue-intro-email-bg: hsl(217, 28%, 15%);
$dark-blue-main-bg: hsl(218, 28%, 13%);
$dark-blue-footer-bg: hsl(216, 53%, 9%);
$dark-blue-testimonials-bg: hsl(219, 30%, 18%);

// Accent Colors
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

// Neutral Colors
$greyish-white: hsl(0, 0%, 85%);
$white: hsl(0, 0%, 100%);

// font-sizes

$font-size-xs: 0.625rem; //10px
$font-size-sm: 0.75rem; //12px
$font-size-main: 0.875rem; //14px
$font-size-l: 1.125rem; //18px
$font-size-xl: 1.5rem; //24px
