// Primary Colors
$dark-blue-intro-email-bg: hsl(217, 28%, 15%);
$dark-blue-main-bg: hsl(218, 28%, 13%);
$dark-blue-footer-bg: hsl(216, 53%, 9%);
$dark-blue-testimonials-bg: hsl(219, 30%, 18%);

// Accent Colors
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

$cyan-light: hsl(176, 68%, 70%);
$blue-light: hsl(198, 60%, 65%);

// Neutral Colors
$greyish-white: hsl(0, 0%, 85%);
$white: hsl(0, 0%, 100%);

// font-sizes

$fs-xs: 0.625rem; //10px
$fs-sm: 0.75rem; //12px
$fs-main: 0.875rem; //14px
$fs-16px: 1rem;
$fs-l: 1.125rem; //18px
$fs-20px: 1.25rem; //20px
$fs-xl: 1.5rem; //24px
$fs-32px: 2rem; //32px
$fs-40px: 2.5rem; //40px
